.NavBar {
    background-image: url(../resources/fons.png);
    max-width: 111em;
}


.NavText a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.navLogo img {
    max-width: 11.6em;
    max-height: 3.5em;
}

.Bl1_Box1 {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 8em;
    max-width: 35em;
    max-height: 10em;
    margin-left: auto;
    margin-right: auto;

}

.Bl1_Box1 h1{
    font-size: 4em;
}

